.no-spin::-webkit-inner-spin-button,
.no-spin::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield;
}

body {
    font-family: "游ゴシック";
    background-color: #272b30;
}

.ui.container {
    padding: 0.2em;
}

.ui.label {
    min-width: 3em;
    text-align: center;
}

.ui.basic.label {
    background-color: #202328;
    color:whitesmoke;
}

.ui.basic.red.label {
    background: none #202328!important;
    color: #db2828!important;
    border-color: #db2828!important;
}
.ui.basic.blue.label {
    background: none #202328!important;
    color: #2185d0!important;
    border-color: #2185d0!important;
}

.column {
    margin-left: auto !important;
    margin-right: auto !important;
}

.ui.table td,
.ui.table thead th {
    padding: 0.2em;
    text-align: center;
}

.ui.input > input {
    padding: 0.4em;
    background-color: #656d75;
    color: whitesmoke;
    min-width: 1.5em;
}

.ui.input > input:disabled {
    color: whitesmoke;
    opacity: 1 !important;
    background-color: #383941;
}

.ui.input > input:focus {
    border: 1px solid #2185d0;
    background-color: #656d75;
    color: whitesmoke;
}

.ui.input > input::selection {
    background-color: #2185d0;
    color: whitesmoke;
}

.ui.selection.dropdown {
    background: #656d75;
    color: whitesmoke;
}

.ui.selection.dropdown .menu>.item {
    background: #656d75;
    color: whitesmoke;
}

.ui.selection.visible.dropdown>.text:not(.default) {
    color: whitesmoke;
}